{% extends 'core/base.html' %}
{% load static %}
{% block corecss %}
<link rel="stylesheet" href="{% static 'core/css/core.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1 class="text-warning border-bottom mb-5 mt-4">Contact Us</h1>
    <div class="row text-white mb-5">
        <p class="mx-auto mb-5">
            Do you have any questions? Please do not hesitate to contact. I will come back to you within a matter of hours to help you.
        </p>
        <div class="col-sm-9 mb-5">
            <form action="">
                
            </form>
        </div>
    </div>
</div>
{% endblock%}