{% extends 'core/base.html' %}
{% load static %}
{% block corecss %}
<link rel="stylesheet" href="{% static 'core/css/core.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1 class="text-warning border-bottom mb-5 mt-4">SERVICES</h1>
    <div class="row">
        <div class="col-md-4 text-center">
            <i class="fa fa-search-dollar fa-color fa-2x" style="color: greenyellow;" aria-hidden="true"></i>
            <h2 class="text-white">SEO</h2>
            <p  style="color:silver;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quasi repella.</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="fa fa-palette fa-color fa-2x" style="color: greenyellow;" aria-hidden="true"></i>
            <h2 class="text-white">Web Design</h2>
            <p style="color:silver;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quasi repellat.</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="fa fa-code fa-2x" style="color: greenyellow;"></i>
            <h2 class="text-white">Web Development</h2>
            <p style="color:silver;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quasi repellat.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <i class="fa fa-android fa-color fa-2x" style="color: greenyellow;" aria-hidden="true"></i>
            <h2 class="text-white">Android</h2>
            <p style="color:silver;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quasi repellat.</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="fa fa-android fa-apple fa-2x" style="color: greenyellow;" aria-hidden="true"></i>
            <h2 class="text-white">ios</h2>
            <p style="color:silver;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quasi repellat.</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="fa fa-ad fa-2x" style="color: greenyellow;"></i>
            <h2 class="text-white">Advertising</h2>
            <p style="color:silver;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quasi repellat.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <i class="fa fa-pencil fa-color fa-2x" style="color: greenyellow;" aria-hidden="true"></i>
            <h2 class="text-white">Logo Design</h2>
            <p style="color:silver;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quasi repellat</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="fa fa-database fa-color fa-2x" style="color: greenyellow;" aria-hidden="true"></i>
            <h2 class="text-white">Hosting</h2>
            <p style="color:silver;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quasi repellat</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="fa fa-headset fa-2x" style="color: greenyellow;"></i>
            <h2 class="text-white">Support</h2>
            <p style="color:silver;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quasi repellat</p>
        </div>
    </div>
</div>
{% endblock %}
